<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets6.lottiefiles.com/datafiles/3gpFPHJI4WlLe62/data.json"
                background="transparent" speed="1" style="width: 800px; height: 800px;" loop autoplay>
            </lottie-player>
        </div>
    </div>
</div>

<%- include('partials/footer') %>